.attention{
  padding-left: rem(33);
  position: relative;
  font-size: rem(20);
  margin: rem(15) 0;
  &:after{
    content: '';
    background-image: url(../images/exclamation-triangle.svg);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(20);
    height: rem(20);
    background-size: cover;
  }
}