.form-check-label{
  padding-left: rem(10);
}

.form-control{
  border: rem(1) solid $input-boder;
}

.form-check-input{
  &:checked{
    border-color: $radio-border;
    background-color:$radio-bg;
  }
}