@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin flex-prefix-center-suffix {
  display: flex;
  .prefix, .center, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}