.modal-popup{
  position: relative;
  .modal-title{
    border-bottom: rem(1) solid $modal-title-border;
    h1{
      font-size: rem(20);
      padding:$modal-pad;
    }
  }
  .modal-content{
    padding:rem(15) rem(20);
  }
}