body, html{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR' !important;
  font-size: 16px;
}
body{
  -webkit-text-size-adjust : none;
   color: #333;
  *{
    box-sizing: border-box;
    transition: all 0.3s;
  }
}
ul,ol,li, dl, dt, dd{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  color:#333;
  cursor:pointer;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
input, select, textarea, fieldset, button{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  font-family: 'Roboto';
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}
textarea{
  resize: none;
}
.hidden{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
img{
  display: inline-block;

  /*220325 수정-ys*/
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}