.search-form{
  display: flex;
  align-items: center;
  padding: rem(20);
  margin: 0;
  select{
    width: rem(150);
    margin-right: rem(10);
  }
  input[type="text"]{
    width: rem(250);
    margin-right: rem(10);
    &::placeholder{
      font-size: rem(14);
    }
  }
}